h1 {
  &:not(:first-child) {
    padding-top: toRem(28);
    margin-top: 3.75rem;
    border-top: 1px solid var(--vp-c-divider);
    a {
      transform: translateY(toRem(32));
    }
  }
}

h4 {
  margin-top: toRem(48) !important;
}

table {
  code {
    white-space: nowrap;
  }
  td {
    a {
      font-size: toRem(14);
    }
    li {
      margin-bottom: 1rem;
    }
  }
}
