/**
 * This file should NOT contain any styling (classes or IDs). It should only contain
 * variables, functions, mixins, etc. If you want to override core utility functions
 * or mixins, you can do it here by including the entity with the same name.
 */

// /////////////////////////////////////////////////////////////////// Variables
// -----------------------------------------------------------------------------
// ===================================================================== General
/*
 * General layout spacing settings
 */
$siteHeaderHeight: toRem(78);
$sidebarWidth: $gridWidth * 0.16667;
$bodyOffsetTop: calc($siteHeaderHeight + 3rem);
$sidebarPadding: 2rem;

// ===================================================================== Colours

/*
 * Color variables used in light and dark mode global css variables.
 * The variables names should be replaced with color names in addition to
 * updating their values. New variable names should replace those in variable
 * declarations below.
 */

 $gray50: #FAFAFA;
 $gray100: #F5F5F5;
 $gray200: #EEEEEE;
 $gray300: #E0E0E0;
 $gray400: #BDBDBD;
 $gray500: #9E9E9E;
 $gray600: #757575;
 $gray700: #616161;
 $gray800: #424242;
 $gray900: #212121;

 $blueRibbon: #0046F9; // rgb(0, 70, 249)
 $dodgerBlue: #5196FF; // rgb(81, 150, 255)
 $blueViolet: #615FB1; // rgb(97, 95, 177)
 $portage: #908EF6; // rgb(144, 142, 246)
 $wildSand: #F5F5F5; // rgb(245, 245, 245)
 $white: #FFFFFF; // rgb(255, 255, 255)
 $alto: #D3D3D3; // rgb(211, 211, 211)
 $codGray: #181818; // rgb(24, 24, 24)
 $mineShaft: #303030; // rgb(48, 48, 48)
 $melrose: #B2CDFF; // rgb(178, 205, 255)
 $bayOfMany: #1E3F82; // rgb(30, 63, 130)

 $replace1: #D9D9D9;
 $replace2: #C6C6C6;
 $replace3: #E8E8E8;
 $replace4: #000000;

// ====================================================================== Themes
:root {
  --brand-color: #{$blueRibbon};
  --shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --background-color: #{$wildSand};
  --secondary-background-color: #{$white};
  --primary-text-color: #{$codGray};
  --secondary-text-color: #{$codGray};
  --sidebar-text-color: #{$codGray};
  --link-color: #{$blueRibbon};
  --link-hover-color: #{$melrose};
  --code-text-color: #{$portage};
  --code-background-color: #{$mineShaft};
  --divider: #{$alto};
}

.dark {
  --background-color: #{$codGray};
  --secondary-background-color: #{$mineShaft};
  --primary-text-color: #{$wildSand};
  --secondary-text-color: #{$wildSand};
  --sidebar-text-color: #{$wildSand};
  --link-color: #{$dodgerBlue};
  --link-hover-color: #{$bayOfMany};
  --code-text-color: #{$portage};
  --code-background-color: #{$mineShaft};
  --divider: #{$mineShaft};
}

// ===================================================================== Styling

/*
 * General use box shadow and focus ring styling.
 */

@mixin shadow1 {
  box-shadow: 0.125rem 0px 1rem 0.3125rem rgb(black, 0.7);
}

@mixin shadow2 {
  box-shadow: 0.125rem 0px 0.3125rem 0.25rem rgb(black, 0.4);
}

@mixin focusBoxShadow {
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
}

@mixin focusBoxShadowSmall {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

@mixin focusBoxShadowLink {
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
  border-radius: 0.125rem;
}

@mixin tooltipMobilePosition {
  &:hover {
    &:before,
    &:after {
      transform: translate(0, 0);
    }
  }
  &:before,
  &:after {
    transform: translate(0, 0.5rem);
  }
  &:before {
    left: 1rem;
  }
  &:after {
    left: 0.5rem;
  }
  &[data-tooltip-mobile-position="right"] {
    &:before,
    &:after {
      left: auto;
    }
    &:before {
      right: 1rem;
    }
    &:after {
      right: 0.5rem;
    }
  }
}

/*
 * Update color variables below with newly added variables declared above
 */
@mixin selection-dark {
  ::-moz-selection { background: $replace2; color: $replace4; }
  ::selection { background: $replace2; color: $replace4; }
}

@mixin selection-light {
  ::-moz-selection { background: $replace3; color: $replace4; }
  ::selection { background: $replace3; color: $replace4; }
}
