.toaster {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}

.toast {
  @include shadow1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30rem;
  border: 2px solid var(--theme-color);
  background-color: var(--theme-color__inverted);
  padding: toRem(12);
  border-radius: toRem(6);
  @include customMaxMQ (32rem) {
    width: 100%;
  }
  .message {
    font-weight: 500;
  }
}
